.contened_cont{
    display: flex;
    width: 90%;
    height: 10%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conteo{
    font-size: 2rem;
    color: black;
}

.botones{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botones button {
    margin: 2%;
}
.boletos{
    display: flex;
    width: 90%;
    height: 10%;
    color: #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
